body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

#root{
  height: 100vh;
  width: 100vw;
}

